<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="LocalConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=REDBLocal;Integrated Security=True"
			  providerName="System.Data.SqlClient" />
		<add name="RealEstate.DataAccess.Properties.Settings.REDBConnectionString"
				 connectionString="Data Source=.\sqlexpress;Initial Catalog=REDB;Integrated Security=True"
				 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>

		<services>
			<service name="Realtor.Synchronize.Host.DataUpdateServiceHost">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8732/DataUpdateServiceHost/" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="netTcpBinding" bindingConfiguration="DefaultDirectoryServiceBindConfig" contract="Realtor.Synchronize.Service.Facade.IDataUpdateServiceHost" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultServiceBehavior">
					<dataContractSerializer maxItemsInObjectGraph="6553600" />

					<serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="True" />
					<serviceThrottling maxConcurrentCalls="200" maxConcurrentInstances="2147483647" maxConcurrentSessions="200" />
				</behavior>
				<behavior name="HttpGetMetadata">
					<serviceMetadata httpGetEnabled="true" />
				</behavior>
				<behavior name="devleapBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="LargeEndpointBehavior">
					<dataContractSerializer maxItemsInObjectGraph="6553600" />
				</behavior>
				<behavior name="IObservationDataExchangeBehavior">
					<dataContractSerializer maxItemsInObjectGraph="6553600" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<bindings>
			<customBinding>
				<binding name="tcpStreamingBinding" sendTimeout="01:00:00" receiveTimeout="01:00:00">
					<binaryMessageEncoding />
					<tcpTransport transferMode="Streamed" maxReceivedMessageSize="524288000" maxBufferSize="524288000" />
				</binding>
			</customBinding>
			<netTcpBinding>

				<binding name="DefaultDirectoryServiceBindConfig" maxReceivedMessageSize="100000000" closeTimeout="01:00:00" openTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="02:00:00">
					<readerQuotas maxArrayLength="100000000" maxStringContentLength="100000000" />
					<security mode="None">
						<transport protectionLevel="None" />
					</security>
				</binding>
				<binding name="netTcpBindingName" receiveTimeout="01:00:00" sendTimeout="01:00:00" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
					<readerQuotas maxArrayLength="2147483647" maxStringContentLength="2147483647" />
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>
	</system.serviceModel>
</configuration>
