/*
   Thursday, March 17, 201111:00:12 AM
   User: 
   Server: ARSEN-PC\SQLEXPRESS
   Database: REDB
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
EXECUTE sp_rename N'dbo.Currencies.Name', N'Tmp_NameAm_5', 'COLUMN' 
GO
EXECUTE sp_rename N'dbo.Currencies.Tmp_NameAm_5', N'NameAm', 'COLUMN' 
GO
ALTER TABLE dbo.Currencies ADD
	NameRu nvarchar(50) NULL,
	NameEn nvarchar(50) NULL,
	NameCz nvarchar(50) NULL,
	NameKz nvarchar(50) NULL
GO
ALTER TABLE dbo.Currencies SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
